/*BoxModel*/

div{
    width: 200px;
    height: 30px;
    color: white;
    font-size: 15px;
    
}

#box1{
    background: blue;
    
}

#box2{
    background: red;
    padding-top: 10px;
    margin-bottom: 15px;
}

#box3{
    background: green;
}